# encoding: utf-8

<% content_for :title, ":#{@fact.title}" %>



<table id="middle_top">
  <tr><td>
      
    <div id="middle">
      
    <div id="clause">
      <%= @fact.text %>
      
      <br/>
      <div id="line_title"> </div>
      <div id="content_title"><%= @fact.title %><span id="permanent_link"> <a href="/facts/<%=@fact.id%>">#<%= @fact.id%></a></span></div>
    </div>
    <br/>
    <div id="constant_address"> </div>
  </div>
    </td></tr>
</table>